h1 {
    text-align: center;
    color: aquamarine;

}
h2 {
    text-align: center;
    color:aqua;
    text-decoration: underline;

}
ul {
    text-align: center;
}

li {
    text-align: center;
    

}